.positioner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shadowed-box {
  width: 500px;
}

.logo-wrapper {
  background: yellowgreen;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  color: whitesmoke;
  font-family: "Rajdhani";
  font-size: 2.4rem;
  letter-spacing: 5px;
  text-decoration: none;
}

.contents {
  background: white;
  padding: 2rem;
  height: auto;
}

.go-signup {
  color: black;
}

.kakao-login-btn {
  outline: none;
  width: 59%;
  height: 59%;
  background-color: #ffe812;
}
.kakao-login-btn-inner {
  width: 100%;
  height: 100%;
}

.naver-login-btn {
  outline: none;
  width: 59%;
  height: 59%;
  background-color: rgb(2, 199, 89);
}

.naver-login-btn-inner {
  width: 100%;
  height: 100%;
}
